{% extends 'base.html' %}

{% block head %}
    <style>
        #map {
            height: 600px;
            width: 100%;
        }

        .modal-dialog {
            margin-top: 0;
            margin-bottom: 0;
            width: 100px;
            height: 50vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .modal.fade .modal-dialog {
            transform: translate(0, -100%);
        }

        .modal.in .modal-dialog {
            transform: translate(0, 0);
        }
    </style>
    <script>
        window.user_markers = [];
        window.current_latlng = null;
        window.new_tweet_num = 0;
        $(document).ready(function () {
            $("#new_tweet_num").text(0);

            <!-- To get New Notifications-->
            $.fn.poll_request = function(){
                $.ajax({
                    url: "/poll_data/",
                    type: "post",
                    data: {
                        "csrfmiddlewaretoken" : $("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function(response){
                        var new_tweets = response.new_tweets;
                        $("#new_tweet_num").text(new_tweets.length);
                    },
                    error: function(error){
                        alert(error);
                    },
                    complete: function(){
                        $.fn.poll_request();
                    }
                })
            };
            setTimeout($.fn.poll_request, 500)


            $("#search_tweets_button").click(function () {
                $("#loading_modal").modal("show");
                $.ajax({
                    url: "/search_query/",
                    type: "POST",
                    data: {
                        selected_keyword: $("#keyword_select").val(),
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                    },
                    success: function (response) {
                        //Resetting required fields
                        $("#geo_query").prop("disabled",true);
                        $("#distance").val("");
                        $("#distance").prop("disabled",true);
                        window.current_latlng = null;
                        $("#selected_lat").text("N/A");
                        $("#selected_lon").text("N/A");
                        // Using custom PIN when user clicks on MAP
                        var pos_pinColor = "339933";
                        var neg_pinColor = "ff0000";
                        var neu_pinColor = "0033cc";
                        var user_pinColor = "6600cc";
                        var pos_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pos_pinColor,
                                new google.maps.Size(21, 34),
                                new google.maps.Point(0, 0),
                                new google.maps.Point(10, 34));
                        var neg_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + neg_pinColor,
                                new google.maps.Size(21, 34),
                                new google.maps.Point(0, 0),
                                new google.maps.Point(10, 34));
                        var neu_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + neu_pinColor,
                                new google.maps.Size(21, 34),
                                new google.maps.Point(0, 0),
                                new google.maps.Point(10, 34));
                        var user_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + user_pinColor,
                                new google.maps.Size(21, 34),
                                new google.maps.Point(0, 0),
                                new google.maps.Point(10, 34));
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 2,
                            center: new google.maps.LatLng(35, 0),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        });

                        // User Click Event
                        google.maps.event.addListener(map, 'click', function (e) {
                            $("#distance").prop("disabled", false);
                            $("#geo_query").prop("disabled", false);
                            window.current_latlng = e;
                            for (var j = 0; j < window.user_markers.length; j++) {
                                window.user_markers[j].setMap(null);
                            }
                            $("#selected_lat").text(e.latLng.lat());
                            $("#selected_lon").text(e.latLng.lng());
                            marker = new google.maps.Marker({
                                position: e.latLng,
                                title: "U",
                                icon: user_pinImage,
                                map: map
                            });
                            window.user_markers.push(marker);
                        });

                        // Placing the Markers
                        var marker, i;
                        var locations = response.tweet_coordinates;
                        $("#num_results").text(response.num_records);
                        $("#num_results_div").show();
                        $("#results_div").show();
                        for (i = 0; i < locations.length; i++) {
                            var iconImage;
                            if(locations[i][3]=="positive"){
                                iconImage = pos_pinImage;
                            }else if(locations[i][4]=="negative"){
                                iconImage = neg_pinImage;
                            }else{
                                iconImage = neu_pinImage;
                            }
                            marker = new google.maps.Marker({
                                position: {"lat": locations[i][1], "lng": locations[i][2]},
                                title: locations[i][0],
                                icon: iconImage,
                                map: map
                            });
                        }

                    },
                    error: function(xhr, status, error) {
                          alert(xhr);
                    },
                    complete: function () {
                        $("#loading_modal").modal("hide");
                    }
                });
            });

            $("#geo_query").click(function () {
                if ($("#distance").val() == "") {
                    alert("Please enter a distance!");
                } else {
                    $("#loading_modal").modal("show");
                    $.ajax({
                        url: "/geo_query/",
                        type: "POST",
                        data: {
                            selected_keyword: $("#keyword_select").val(),
                            distance: $("#distance").val(),
                            lat: window.current_latlng.latLng.lat(),
                            lng: window.current_latlng.latLng.lng(),
                            csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val()
                        },
                        success: function (response) {
                            //Resetting required fields
                            $("#geo_query").prop("disabled",true);
                            $("#distance").val("");
                            $("#distance").prop("disabled",true);
                            window.current_latlng = null;
                            $("#selected_lat").text("N/A");
                            $("#selected_lon").text("N/A");

                            // Using custom PIN when user clicks on MAP
                            var pos_pinColor = "339933";
                            var neg_pinColor = "ff0000";
                            var neu_pinColor = "0033cc";
                            var user_pinColor = "6600cc";
                            var pos_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + pos_pinColor,
                                    new google.maps.Size(21, 34),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(10, 34));
                            var neg_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + neg_pinColor,
                                    new google.maps.Size(21, 34),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(10, 34));
                            var neu_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + neu_pinColor,
                                    new google.maps.Size(21, 34),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(10, 34));
                            var user_pinImage = new google.maps.MarkerImage("http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|" + user_pinColor,
                                    new google.maps.Size(21, 34),
                                    new google.maps.Point(0, 0),
                                    new google.maps.Point(10, 34));

                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 2,
                                center: new google.maps.LatLng(35, 0),
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                            });

                            // User Click Event
                            google.maps.event.addListener(map, 'click', function (e) {
                                $("#distance").prop("disabled", false);
                                $("#geo_query").prop("disabled", false);
                                window.current_latlng = e;
                                for (var j = 0; j < window.user_markers.length; j++) {
                                    window.user_markers[j].setMap(null);
                                }
                                $("#selected_lat").text(e.latLng.lat());
                                $("#selected_lon").text(e.latLng.lng());
                                marker = new google.maps.Marker({
                                    position: e.latLng,
                                    title: "U",
                                    icon: user_pinImage,
                                    map: map
                                });
                                window.user_markers.push(marker);
                            });

                            // Placing the Markers
                            var marker, i;
                            var locations = response.tweet_coordinates;
                            $("#num_results").text(response.num_records);
                            $("#num_results_div").show();
                            $("#results_div").show();
                            for (i = 0; i < locations.length; i++) {
                                var iconImage;
                                if(locations[i][3]=="positive"){
                                    iconImage = pos_pinImage;
                                }else if(locations[i][4]=="negative"){
                                    iconImage = neg_pinImage;
                                }else{
                                    iconImage = neu_pinImage;
                                }
                                marker = new google.maps.Marker({
                                    position: {"lat": locations[i][1], "lng": locations[i][2]},
                                    title: locations[i][0],
                                    icon: iconImage,
                                    map: map
                                });
                            }

                        },
                        error: function(xhr, status, error) {
                          alert(xhr);
                        },
                        complete: function () {
                            $("#loading_modal").modal("hide");
                        }
                    });
                }
            });
        });

    </script>

    <script src="http://maps.google.com/maps/api/js?key=AIzaSyDQQ8a2--acM4YfkScjmgBV8M9ObR2_P9M&" type="text/javascript"></script>
    {#    <script async defer#}
    {#        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQQ8a2--acM4YfkScjmgBV8M9ObR2_P9M&callback=initMap">#}
    {#    </script>#}
{% endblock %}

{% block content %}
    {% load static %}
    <div id="loading_modal" class="modal fade" data-backdrop="static" data-keyboard="false" style="vertical-align: bottom;">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="{% static "images/gears.gif" %}"/>
                    <label>Loading</label>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <h1> Welcome to the search page</h1>
    <form id="search_query_form">
        {% csrf_token %}
        <div class="row">
            <div class="col col-md-2">
                <label>Select Keyword :</label>
            </div>
            <div class="col col-md-6">
                <select class="form-control selectpicker input-sm" id="keyword_select">
                    {% for keyword in keywords %}
                        <option value="{{ keyword }}">{{ keyword }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col col-md-3">
                <button type="button" class="btn btn-success" id="search_tweets_button">
                    Search Tweets
                </button>
            </div>
        </div>
    </form>
    <br/>
    <div id="results_div" style="display: none;">
        <div class="row">
            <div class="col col-md-12">
                <label> Please select a point on Map of GepSpatial Query </label>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-2">
                <label>Tweets within KMs:</label>
            </div>
            <div class="col col-md-2">
                <input class="form-control input-sm" id="distance" placeholder="Distance in KM" disabled="disabled" type="number"/>
            </div>
            <div class="col col-md-8">
                <label> Selected Point Latitude: <span id="selected_lat">N/A</span> ; Longitude <span id="selected_lon">N/A</span></label>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-3">
                <button id="geo_query" class="btn btn-primary" disabled="disabled">
                    GeoLocation Query
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-12">
            New Tweets: <span class="badge" id="new_tweet_num">0</span></a>
        </div>
    </div>
    <br/>
    <div id="map"></div>
    <br/>
    <label id="num_results_div" style="display: none;">Number of Results fetched : <span id="num_results"></span></label>
{% endblock %}
